<div class="container simple-login-container">
  <div class="row">
    <div class="col-xs-12">
        <div class="alert alert-danger" *ngIf="error!=''">
            <p>{{ error }}</p>
        </div>
        <div *ngIf="isLoading" class="mx-auto">
            <app-loading-spinner></app-loading-spinner>
        </div>
      <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
        <div class="form-group">
          <label for="email">E-mail</label>
          <input
            type="email"
            id="email"
            class="form-control"
            ngModel
            name="email"
            required
            email
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            class="form-control"
            ngModel
            name="password"
            required
            minlength="6"
          />
        </div>
        <div>
          <button
            class="btn btn-primary"
            (click)="onSwitchMode()"
            type="button"
          >
            Switch to {{ !isLoginMode ? "Login" : "Register" }}
          </button>
          <button class="btn btn-primary ml-3" type="submit" [disabled]="!authForm.valid">
            {{ isLoginMode ? "Login" : "Register" }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
