<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/main">Robi FM</a>
  <div class="navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/add" *ngIf="isAuthenticated">Add an album</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/auth"*ngIf="!isAuthenticated">Log in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile"*ngIf="isAuthenticated">Profile</a>
      </li>
      <li class="nav-item">
        <a style="cursor: pointer;" class="nav-link" *ngIf="isAuthenticated" (click)="onLogout()">Log out</a>
      </li>
    </ul>
  </div>
</nav>
