<div class="container-fluid bg-primary text-white">
  <!-- <p>Album id: {{ startAlbum.id }}</p>
  <p>{{ album.cover }}</p> -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10">
        <a style="cursor: pointer" class="artist" href="{{ artistLink }}" target="_blank">
          <h3>{{ album.artist }}</h3></a
        >
        <a style="cursor: pointer" class="artist" href="{{ albumLink }}" target="_blank">
          <h1>{{ album.name }}</h1></a
        >
      </div>
      <div class="col-sm-2">
        <div style="background-color: white">
          <a style="cursor: pointer" href="{{ albumLink }}" target="_blank">
            <img
              src="{{ album.cover }}"
              alt=""
              width="100%"
              class="img-fluid"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="container col col-md-8">
      <h2>Album Summary</h2>
      <!-- <p>{{ albumSummary }}</p> -->
      <div [innerHTML]="albumSummary"></div>
    </div>

    <div class="col col-md-4">
      <h2>Listeners:</h2>
      <h3>{{ listeners }}</h3>
      <h2>Play Count:</h2>
      <h3>{{ playCount }}</h3>
    </div>
  </div>
</div>
