<div class="container-fluid bg-primary text-white">
  <!-- <p>Album id: {{ startAlbum.id }}</p>
  <p>{{ album.cover }}</p> -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10">
        <a style="cursor: pointer" class="artist" >
          <h3>{{ album.artist }}</h3></a
        >
        <h1>{{ album.name }}</h1>
      </div>
      <div class="col-sm-2">
        <div style="background-color: white;">
          <img src="{{ album.cover }}" alt="" width="100%" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</div>
